﻿<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="Sitio.Master.vb" Inherits="Reasignacion.Web.Sitio" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Reasignacion" />
    <meta name="author" content="Entersoft" />

    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../Content/bootstrap-table.min.css" rel="stylesheet" />
    <link href="../Content/Sitio.css" rel="stylesheet" />
    <link href="../Content/all.min.css" rel="stylesheet" />
    <link href="../Content/fontawesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald|PT+Sans" rel="stylesheet" />

    <link rel="shortcut icon" href="../Img/BANCHILE.ico" />


    <%--JS--%>
    <script src="../Scripts/moment.min.js"></script>
    <script src="../Scripts/moment.js"></script>
    <script src="../Scripts/moment-with-locales.js"></script>
    <script src="../Scripts/moment-with-locales.min.js"></script>

    <script src="../Scripts/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/locale/bootstrap-table-es-CL.min.js"></script>
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.1/xlsx.full.min.js"></script>
    
    


    <script src="../Scripts/funciones.js"></script>

    <script type="text/javascript">
        var BrowserDetect = {
            init: function () {
                this.browser = this.searchString(this.dataBrowser) || "An unknown browser";
                this.version = this.searchVersion(navigator.userAgent)
                    || this.searchVersion(navigator.appVersion)
                    || "an unknown version";
                this.OS = this.searchString(this.dataOS) || "an unknown OS";
            },
            searchString: function (data) {
                for (var i = 0; i < data.length; i++) {
                    var dataString = data[i].string;
                    var dataProp = data[i].prop;
                    this.versionSearchString = data[i].versionSearch || data[i].identity;
                    if (dataString) {
                        if (dataString.indexOf(data[i].subString) != -1)
                            return data[i].identity;
                    }
                    else if (dataProp)
                        return data[i].identity;
                }
            },
            searchVersion: function (dataString) {
                var index = dataString.indexOf(this.versionSearchString);
                if (index == -1) return;
                return parseFloat(dataString.substring(index + this.versionSearchString.length + 1));
            },
            dataBrowser: [
                {
                    string: navigator.userAgent,
                    subString: "Chrome",
                    identity: "Chrome"
                },
                {
                    string: navigator.userAgent,
                    subString: "OmniWeb",
                    versionSearch: "OmniWeb/",
                    identity: "OmniWeb"
                },
                {
                    string: navigator.vendor,
                    subString: "Apple",
                    identity: "Safari",
                    versionSearch: "Version"
                },
                {
                    prop: window.opera,
                    identity: "Opera",
                    versionSearch: "Version"
                },
                {
                    string: navigator.vendor,
                    subString: "iCab",
                    identity: "iCab"
                },
                {
                    string: navigator.vendor,
                    subString: "KDE",
                    identity: "Konqueror"
                },
                {
                    string: navigator.userAgent,
                    subString: "Firefox",
                    identity: "Firefox"
                },
                {
                    string: navigator.vendor,
                    subString: "Camino",
                    identity: "Camino"
                },
                {             // for newer Netscapes (6+)
                    string: navigator.userAgent,
                    subString: "Netscape",
                    identity: "Netscape"
                },
                {
                    string: navigator.userAgent,
                    subString: "MSIE",
                    identity: "Explorer",
                    versionSearch: "MSIE"
                },
                {
                    string: navigator.userAgent,
                    subString: "Gecko",
                    identity: "Mozilla",
                    versionSearch: "rv"
                },
                {             // for older Netscapes (4-)
                    string: navigator.userAgent,
                    subString: "Mozilla",
                    identity: "Netscape",
                    versionSearch: "Mozilla"
                }
            ],
            dataOS: [
                {
                    string: navigator.platform,
                    subString: "Win",
                    identity: "Windows"
                },
                {
                    string: navigator.platform,
                    subString: "Mac",
                    identity: "Mac"
                },
                {
                    string: navigator.userAgent,
                    subString: "iPhone",
                    identity: "iPhone/iPod"
                },
                {
                    string: navigator.platform,
                    subString: "Linux",
                    identity: "Linux"
                }
            ]

        };
        BrowserDetect.init();
        if (BrowserDetect.browser == "Explorer" || BrowserDetect.browser == "Mozilla") {
            location.href = "BrowserError.aspx";
        }
    </script>



    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<%--<STYLE>A {text-decoration: none;} </STYLE>--%>

<body>
    <form id="form1" runat="server">
        <asp:TextBox type="hidden" ID="hdn_Nombre" runat="server" Width="1px"></asp:TextBox>
        <asp:TextBox type="hidden" ID="hdn_Rut" runat="server" Width="1px"></asp:TextBox>
        <asp:TextBox type="hidden" ID="hdn_ApePaterno" runat="server" Width="1px"></asp:TextBox>
        <asp:TextBox type="hidden" ID="hdn_ApeMaterno" runat="server" Width="1px"></asp:TextBox>
        <asp:TextBox type="hidden" ID="hdn_eMail" runat="server" Width="1px"></asp:TextBox>
        <asp:TextBox type="hidden" ID="hdn_CUI" runat="server" Width="1px"></asp:TextBox>
        <asp:TextBox type="hidden" ID="hdn_Anexo" runat="server" Width="1px"></asp:TextBox>
        <asp:TextBox type="hidden" ID="txtSessionID" runat="server" Width="1px"></asp:TextBox>

        <header class="header">
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-azul">

                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                    <ul class="navbar-nav mr-auto">
                        <asp:Repeater ID="rptBotonera" runat="server" OnItemDataBound="rptBotonera_ItemDataBound">
                            <ItemTemplate>
                                <li class="nav-item text-nowrap">
                                    <a class="nav-link btn btn-primary btn-nav" runat="server" id="primero" href='<%#DataBinder.Eval(Container.DataItem, "Url")%>'><%#DataBinder.Eval(Container.DataItem, "NombrePermiso")%></a>
                                </li>
                            </ItemTemplate>
                        </asp:Repeater>
                       
                        <li  class="nav-item dropdown">
                        <a class="nav-link btn btn-primary btn-nav dropdown-toggle" href="#" runat="server" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administración</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                            <asp:Repeater ID="rptAdmin" runat="server" >
                                <ItemTemplate>
                                    <asp:HyperLink class="dropdown-item" runat="server" title='<%#DataBinder.Eval(Container.DataItem, "NombreSuperPermiso")%>' style="color: #183e93;" ID="Links" NavigateUrl='<%#DataBinder.Eval(Container.DataItem, "URLSuperPermiso")%>'>
                                        <%#DataBinder.Eval(Container.DataItem, "NombreSuperPermiso")%>
                                    </asp:HyperLink>
                                </ItemTemplate>
                            </asp:Repeater>
                            <%--<div class="dropdown-divider"></div>--%>
                           <%-- <a class="dropdown-item" href="Logout.aspx" style="color: #183e93;"><i class="fa fa-sign-in"></i>&nbsp;Cerrar&nbsp;sesión </a>--%>
                        </div>
                    </li>

                    </ul>
                </div>
                <div class="mx-auto order-0">
                    <a class="navbar-brand" href="frmDefault.aspx">
                        <img src="../img/BanchileV3.png" width="120" alt="Reasignación" /></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" runat="server" href="#" id="navbardrop" data-toggle="dropdown"></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="frmCambioClave.aspx">Cambiar Contraseña</a>
                                 <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="frmLogin.aspx">Cerrar Sesión</a>
                            </div>
                        </li >

                    </ul>
                </div>


            </nav>
        </header>

        <br />
        <br />
        <br />

        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>

        <footer class="navbar-default navbar-fixed-bottom" id="navbar">
        </footer>

        <!-- showSuccess -->
        <%--<div id="showSuccess" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="panel panel-info">
                        <div class="panel panel-heading">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 id="showSuccessTitle" class="modal-title"></h4>
                            </div>
                        </div>

                        <div class="modal-body">
                            <p id="showSuccessBody"></p>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>--%>



         <div id="showSuccess" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-success">

                        <h6 id="showSuccessTitle" class="modal-title text-white">Operación con error</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="showSuccessBody"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- showError -->
        <div id="showError" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-danger">

                        <h6 id="showErrorTitle" class="modal-title text-white">Operación con error</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="showErrorBody"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>

                <!-- showInfo -->
        <div id="showInfo" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-info">

                        <h6 id="showInfoTitle" class="modal-title text-white">Operación Informativa</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="showInfoBody"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
<!--
        <div class="container body-content">
            <asp:ContentPlaceHolder ID="MainContent" runat="server" />
            <hr />
            <footer class="page-footer font-small font-weight-bold">
                <div class="footer-copyright text-center">
                    &copy; <%: DateTime.Now.Year %> Copyright Banchile Corredores de Seguros  
                        <br />
                    Sub. Gerencia Gestión Comercial 
                </div>
            </footer>
        </div>
    -->
    </form>

</body>
</html>


